### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

ImportError: cannot import name 'g_key' from 'api_keys' (/Users/kwambo/Documents/BootCamp/Week-06-python-api/homework/api_keys.py)

In [2]:
opened_df = pd.read_csv('output_data/weather_data.csv', index_col ='Unnamed: 0')
opened_df

,city,lat,long,temp,humidity,cloudiness,windspeed,max temp,country,datetime
0,Saskylakh,71.92,114.08,-9.63,94,100,9.87,-9.63,RU,1603572140
1,Murud,18.33,72.97,25.32,87,43,2.00,25.32,IN,1603572140
2,Albany,42.60,-73.97,11.72,68,45,4.47,13.33,US,1603572004
3,Sibu,2.30,111.82,23.93,94,40,1.00,24.00,MY,1603571887
4,Fairbanks,64.84,-147.72,-4.37,92,90,1.27,-2.22,US,1603571949
...,...,...,...,...,...,...,...,...,...,...
595,Tayginka,55.62,60.51,5.28,91,100,3.28,5.28,RU,1603572284
596,Youkounkoun,12.53,-13.13,27.44,51,5,0.06,27.44,GN,1603572284
597,Cañon City,38.44,-105.24,23.35,9,1,11.80,27.00,US,1603572284
598,Bara,10.37,10.73,26.34,33,90,2.23,26.34,NG,1603572284
599,Qeshm,26.96,56.27,24.50,62,0,2.10,25.00,IR,1603572284

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
opened_df.dropna()

# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = opened_df[["lat", "long"]]

# set humidity values
humidity = opened_df["humidity"].astype(float)

NameError: name 'g_key' is not defined